@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');



@import 'css/bootstrap/bootstrap.min.css';
@import 'css/others/font-awesome.min.css';




body {
    font-family: 'Montserrat', sans-serif;
    /* position: relative;
    height: 100%;
    width: auto;
    min-height: 0;
    overflow: scroll; */

    height: 100%;
margin: 0;
min-height: 100%;
overflow: hidden;
padding: 0;
position: relative;
}

img{
    max-width: 100%; height: auto;
}

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


/* Hero Area CSS */

.hero-area {
    width: 100%;
    height: 850px;
    position: relative;
    padding-top: 250px;
    background-size: cover;
    background-position: center;
}

    .hero-area h1 {
        color: #f2f2f2;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 80%;
        text-align: center;
        letter-spacing: .15em;
        font-weight: bold;
        animation: typing 3.5s steps(40, end), .5s step-end infinite;
    }

    .hero-area p {
        width: 100%;
        height: 100%;
        text-align: center;
        letter-spacing: .20em;
        font-weight: bold;
        color: #c5b8b8;
    }

@keyframes typing {
    from {width: 0;}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: orange}
}

/*Footer Area CSS */

.footer-area {
    padding: 20px;
    background-color: #252525;
    text-align: center;
    color: #ffffff;
}

        .footer-area i:hover {
            color: #c32aa3;
        }
        .footer-area c:hover {
            color: #0082c9;
        }
        
        .footer-area t:hover {
            color: #1dcaff;
        }
        .footer-area f:hover {
            color: #3B5998;
        }
        .footer-area l:hover {
            color: #4875B4;
        }
    .footer-area e:hover {
        color: #606060;
    }

.footer-social-widget {
    margin-top: 30px;
}

.footer-social-widget > a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 30px;
}

.footer-social-widget > a:hover,
.footer-social-widget > a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-social-widget > a:last-child {
    margin-right: 0;
}
